@use './variables';
@use './mixins';

h1, h2, h3 {
  font-family: variables.$font-family-base;
  font-weight: bold;
  @include mixins.neon-glow(variables.$color-primary);
}

p {
  font-family: variables.$font-family-alt;
  line-height: 1.5;
  color: lighten(variables.$color-text, 10%);
}
